@media screen and (max-width:1920px){
    .body-hidden {
        padding: 0;
        background-position-x: 0px;
    }
}
@media screen and (max-width:1200px){
    .body-hidden {
        padding: 0;
        background-position-x: 0px;
    }
    #btn-close i {
        font-size: clamp(12px,1.5vw,18px);
    }
    #btn-close-2 i {
        font-size: clamp(12px,1.5vw,18px);
    }
    #btn-close-3 i {
        font-size: clamp(12px,1.5vw,18px);
    }
    #btn-close-4 i {
        font-size: clamp(12px,1.5vw,18px);
    }
    #btn-close-5 i {
        font-size: clamp(12px,1.5vw,18px);
    }
    #btn-close-7 i {
        font-size: clamp(12px,1.5vw,18px);
    }
    .heading-name h1 {
        font-size: clamp( 60px, 5.66vw ,68px);
    }

    .image img {
        width: clamp(450px, 41.66vw ,500px);
    }
    .heading-about h2 {
        font-size: clamp(58px ,5.33vw, 64px);
    }
    

    .block-photos {
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px 75px;
        max-width: 100%;
    } 

    .one {
        justify-self: end;
    }
    .two {
        justify-self: start;
    }
    .three {
        justify-self: end;
    }
    .four {
        justify-self: start;
    }
    .five {
        justify-self: end;
    }
    .seven {
        justify-self: start;
    }

    /* MODAL PHOTO */

    .image-card img {
        width: clamp(300px,29.16vw,350px);
        border-radius: 10px;
    }

    .photo-modal-1 h3 {
        font-size: clamp(14px, 1.5vw,18px);
    }
    #open-modal-btn-1 h4{
        font-size: clamp(10px,1vw,12px);
    }
    .photo-modal-2{
        width: clamp(150px,16.7vw, 200px);
    }

    .photo-modal-2 h3 {
        font-size: clamp(14px, 1.5vw,18px);;
        padding: 8px 0;
    }
    #open-modal-btn-2-2 h4{
        font-size: clamp(10px,1vw,12px);
    }

    .photo-modal-3{
        width: clamp(220px,24.16vw, 290px);
    }

    .photo-modal-3 h3 {
        font-size: clamp(14px, 1.5vw,18px);;
    }
    #open-modal-btn-3-3 h4{
        font-size: clamp(10px,1vw,12px);
    }
    .photo-modal-4{
        width: clamp(260px,26.66vw, 320px);
    }
    .photo-modal-4 h3 {
        font-size: clamp(14px, 1.5vw,18px);;
    }
    #open-modal-btn-4-4 h4{
        font-size: clamp(10px,1vw,12px);
    }
    .photo-modal-5{
        width: clamp(160px,17.5vw, 210px);
    }
    .photo-modal-5 h3 {
        font-size: clamp(14px, 1.5vw,18px);;
    }
    #open-modal-btn-5-5 h4{
        font-size: clamp(10px,1vw,12px);
    }
    .photo-modal-7{
        width: clamp(250px,26.66vw, 320px);
    }
    .photo-modal-7 h3 {
        font-size: clamp(14px, 1.5vw,18px);;
    }
    #open-modal-btn-7-7 h4{
        font-size: clamp(10px,1vw,12px);
    }

    /* MODALS ADAPTIVE */

  
    /* 1 */
    .modal-window {
        width: clamp(500px,58.33vw,700px);
    }

    .heading-modal {
        margin: 40px auto 15px auto;
    }
    .heading-modal h3{
        font-size: clamp(36px,3.66vw,44px);
    }
    .paragraph-modal {
        width: clamp(400px,41.66vw,500px);
        margin: 15px auto 30px auto;
    }
    .paragraph-modal p{
        font-size: clamp(16px,1.5vw,18px);
    }
    .scroller__inner img{
        width: clamp(250px,25vw,300px);
    }
    #scndscroll {
        width: clamp(665px,66.41vw,797px);
    }
    #sixscroll {
        width: clamp(497px, 49.75vw,597px);
    }
      
    #eightscroll {
        width: clamp(560px,56vw,672px);
    }

    /* 2 */


    .modal-window-2 {
        width: clamp(500px,50vw,600px);
    }

    .heading-modal-2 {
        margin: 40px auto 15px auto;
    }
    .heading-modal-2 h3{
        font-size: clamp(36px,3.66vw,44px);
    }
    .scroller__inner2 img{
        width: clamp(250px,25vw,300px);
    }
    #thirdscroll2 {
        width: clamp(251px,25.08vw, 301px);
    }



    /* 3 */
    .modal-window-3 {
        width: clamp(500px,54.16vw,650px);
    }

    .heading-modal-3 {
        margin: 40px auto 15px auto;
        width: 500px;
    }
    .heading-modal-3 h3{
        font-size: clamp(36px,3.16vw,38px);
    }

    .scroller__inner3 img{
        width: clamp(250px,25vw,300px);
    }
    #firstscroll3 {
        width: clamp(273px,27.33vw,328px);
    }
  
    #secondscroll3 {
        width: clamp(273px,27.33vw,328px);
    }

    /* 4 */
    .modal-window-4 {
        width: clamp(500px,50vw,600px);
    }
    /* 5 */
    .modal-window-5 {
        width: clamp(500px,54.16vw,650px);
    }
    /* 7 */
    .modal-window-7 {
        width: clamp(500px,50vw,600px);

    }
    .heading-modal-7{
        margin: 35px auto 15px auto;
    }
    .heading-modal-7 h3{
        font-size: clamp(40px,3.66vw,44px);
    }
    .paragraph-modal-7 {
        margin: 15px auto 40px auto;
        width: clamp(450px,41.66vw,500px);
    }
    .paragraph-modal-7 p{
        font-size: clamp(13px,1.16vw,14px);
    }
    .scroller__inner7 img{
        width: clamp(250px,25vw,300px);
      }






    /* PRODUCTS */
    .heading-product h2 {
        font-size: clamp(58px ,5.33vw, 64px);
    }
    .glass {
        width: clamp(650px,62.5vw,750px);
    }

    .heading-mainstage h3 {
        font-size: clamp(40px,3.67vw,44px);
    }
    .image-mainstage img{
        width: clamp(450px, 41.66vw ,500px);
    }
    .link-mainstage {
        width: clamp(330px,31.66vw,380px);
    }
    .link-mainstage a {
        font-size: clamp(22px,2vw,24px);
    }

    .glass-2 {
        width: clamp(650px,62.5vw,750px);
    }

    .heading-premier h3 {
        font-size: clamp(36px,3.67vw,44px);
    }
    .image-premier img{
        width: clamp(450px, 41.66vw ,500px);
    }
    .paragraph-premier p{
        font-size: clamp(22px,2vw,24px);
        padding: 3px 0 3px 0;
    }
    .link-premier a {
        font-size: clamp(22px,2vw,24px);
    }
    .link-premier {
        width: clamp(280px,26.67vw,320px);
    }
    .paragraph-last-premier {
        margin: 0 auto 20px auto;
        width: clamp(175px,16.67vw,200px);
    }
    
    .paragraph-last-premier{
        font-size: clamp(10px, 1vw,12px);
    }

    .glass-3 {
        width: clamp(650px,62.5vw,750px);
        margin: 40px auto 50px auto;

    }
    .heading-performances h3 {
        font-family: Montserrat, sans-serif;
        font-weight: 600;
        font-size: clamp(42px,3.83vw,46px);
        text-align: center;
    }

    .image-performances img{
        width: clamp(450px, 41.66vw ,500px);
    }
    .paragraph-performances p{
        font-size: clamp(22px,2vw,24px);
        padding: 3px 0 3px 0;
    }
    .link-performances {
        width: clamp(220px,20.83vw,250px);
    }
    .link-performances a {
        font-size: clamp(22px,2vw,24px);
    }


    /* COOPERATION */
    .heading-cooperation h3{
        font-size: clamp(44px, 5.33vw, 64px);
    }
    .never h4, .consultation h4, .org h4{
        font-size: clamp(28px, 3.33vw ,40px);
    }
    .heading-socials h4{
        font-size: clamp(52px,5.33vw,64px);
    }
    .socials ul li a{
        font-size: clamp(30px, 3vw, 36px);
    }

    .socialspinst p {
        font-size: 8px;
    }

    .desigby p {
        font-size: clamp(14px,1.33vw,16px);
    }

    .desigby {
        max-width: 500px;
        margin: 20px auto 30px auto;
    }
}



@media screen and (max-width:720px) {
    ::-webkit-scrollbar {
        width: 16px;
    }
    .body-hidden {
        padding: 0;
        background-position-x: 0px;
    }
    
    .block-photos {
        grid-template-columns: 1fr;
        grid-gap: 50px 75px;
        max-width: 100%;
    } 
    .image-card {
        justify-self: center;
    }
    
    .heading-name h1 {
        font-size: 60px;
        line-height: 70px;
    }

    .image img {
        margin: 0px auto 40px auto;
    }
    .heading-about h2 {
        font-size: clamp(58px ,5.33vw, 64px);
    }


    /* MODAL PHOTO */

    .image-card img {
        width: 350px;
    }

    .photo-modal-1 h3 {
        font-size: 18px;
    }
    #open-modal-btn-1 h4{
        font-size: 12px;
    }
    .photo-modal-2{
        width: 200px;
    }

    .photo-modal-2 h3 {
        font-size: 18px;
    }
    #open-modal-btn-2-2 h4{
        font-size: clamp(10px,1.67vw,12px);
        font-size: 12px;
    }

    .photo-modal-3{
        width: 290px;
    }

    .photo-modal-3 h3 {
        font-size: 18px;
    }
    #open-modal-btn-3-3 h4{
        font-size: 12px;
    }
    .photo-modal-4{
        width: 320px;
    }
    .photo-modal-4 h3 {
        font-size: 18px;
    }
    #open-modal-btn-4-4 h4{
        font-size: 12px;
    }
    .photo-modal-5{
        width: 210px;
    }
    .photo-modal-5 h3 {
        font-size: 18px;
    }
    #open-modal-btn-5-5 h4{
        font-size: 12px;
    }
    .photo-modal-7{
        width: 320px;
    }
    .photo-modal-7 h3 {
        font-size: 18px;
    }
    #open-modal-btn-7-7 h4{
        font-size: 12px;
    }

    
    /* MODALS PHOTO 540 */

    /* 1 */
    .modal-window {
        width: clamp(400px,69.44vw,500px);
    }
    .heading-modal {
        margin: 40px auto 15px auto;
    }
    .heading-modal h3{
        font-size: clamp(30px,5vw,36px);

    }
    .paragraph-modal {
        width: clamp(300px,55.55vw,400px);
        margin: 15px auto 30px auto;
    }
    .paragraph-modal p{
        font-size: clamp(14px,2.22vw,16px);
        line-height: clamp(25px,4.16vw,30px);
    }
    .scroller__inner img{
        width: clamp(200px,34.72vw,250px);
    }
    #scndscroll {
        width: clamp(532px,92.36vw,665px);
    }
    #sixscroll {
        width: clamp(398px, 69.02vw,497px);
    }
    #eightscroll {
        width: clamp(448px,77.77vw,560px);
    }

    /* 2 */


    .modal-window-2 {
        width: clamp(400px,69.44vw,500px);
    }

    .heading-modal-2 {
        margin: 40px auto 40px auto;
    }
    .scroller2 {
        overflow: hidden;
        margin: 0 auto 60px auto;
    }
    .heading-modal-2 h3{
        font-size: 36px;
    }
    .scroller__inner2 img{
        width: 250px;
    }
    #thirdscroll2 {
        width: clamp(251px,25.08vw, 301px);
    }



    /* 3 */
    .modal-window-3 {
        width: clamp(400px,69.44vw,500px);
    }

    .heading-modal-3 {
        margin: 30px auto 30px auto;
        width: clamp(400px,69.44vw,500px);
    }
    .heading-modal-3 h3{
        font-size: clamp(32px,5vw,36px);
    }
    .scroller3 {
        overflow: hidden;
        margin: 0 auto 50px auto;
    }
    .scroller__inner3 img{
        width: 250px;
    }
    #firstscroll3 {
        width: 273px;
    }
  
    #secondscroll3 {
        width: 273px;
    }

    /* 4 */


    .modal-window-4 {
        width: clamp(400px,69.44vw,500px);
    }
    .heading-modal-4 {
        margin: 30px auto 30px auto;
    }
    .heading-modal-4 h3{
        font-size: clamp(42px,6.66vw,48px);
    }
    .scroller4 {
        overflow: hidden;
        margin: 0px auto 50px auto;
    }
    .scroller__inner4 img{
        width: clamp(250px,41.66vw,300px);
    }


    /* 5 */


    .modal-window-5 {
        width: clamp(400px,69.44vw,500px);
    }
    .heading-modal-5 {
        margin: 30px auto 15px auto;
    }
    .heading-modal-5 h3{
        font-size: clamp(32px,6.11vw,44px);
        line-height: clamp(40px,6.94vw,50px);
    }

    .paragraph-modal-5 {
        margin: 15px auto 30px auto;
        width: clamp(300px,55.55vw,400px);
    }
    
    .paragraph-modal-5 p{
        font-size: clamp(14px, 2.22vw,16px);
    }

    /* 7 */
    .modal-window-7 {
        width: clamp(400px,69.44vw,500px);
    }
    .heading-modal-7{
        margin: 25px auto 15px auto;
    }
    .heading-modal-7 h3{
        font-size: 40px;
    }
    .paragraph-modal-7 {
        margin: 15px auto 30px auto;
        width: 360px;
    }
    .paragraph-modal-7 p{
        font-size: clamp(13px,1.16vw,14px);
    }
    .scroller7 {
        overflow: hidden;
        margin: 0px auto 50px auto;
    }
    .scroller__inner7 img{
        width: 250px;
    }

    .navigation ul {  
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 20px 30px;
    }
    .heading-product h2 {
        font-size: clamp(52px ,8.05vw, 58px);
    }
    .glass {
        width: clamp(450px, 83.3vw ,650px)
    }
    .heading-mainstage {
        margin: 30px auto 20px auto;
    }
    .heading-mainstage h3 {
        font-size: clamp(36px,5.55vw,40px);
    }
    .image-mainstage img{
        margin: 0 auto 30px auto;   
        width: clamp(375px, 62.5vw ,450px);
    }
    .link-mainstage {
        margin: 0 auto 30px auto;
        width: clamp(275px,45.83vw,330px);
    }
    .link-mainstage a {
        font-size: clamp(18px,3.05vw,22px);
    }
    .glass-2 {
        width: clamp(450px, 83.3vw ,650px);
    }

    .heading-premier {
        margin: 30px auto 20px auto;
    }
    .heading-premier h3 {
        font-size: clamp(36px,5.55vw,40px);
        
    }
    .image-premier img{
        width: clamp(375px, 62.5vw ,450px);
        margin: 0 auto 15px auto;

    }
    .paragraph-premier {
        margin: 0 auto 10px auto;
        width: 300px;
    }
    .paragraph-premier p{
        font-size: clamp(18px,3.05vw,22px);
        padding: 5px 0 5px 0;

    }
    .link-premier a {
        font-size: clamp(18px,3.05vw,22px);
    }
    .link-premier {
        width: clamp(250px,38.88vw,280px);
    }
    .paragraph-last-premier {
        margin: 0 auto 20px auto;
        width: clamp(175px,16.67vw,200px);
    }
    
    .paragraph-last-premier{
        font-size: clamp(10px, 1vw,12px);
    }

    .glass-3 {
        width: clamp(450px, 83.3vw ,650px);
    }
    
    .heading-performances {
        margin: 30px auto 20px auto;
    }
    .heading-performances h3 {
        font-size: clamp(38px,5.83vw,42px);
        font-size: 38px;
    }

    .image-performances img{
        width: clamp(375px, 62.5vw ,450px);
    }
    .paragraph-performances {
        margin: 0 auto 20px auto;
        width: 400px;
    }
    .paragraph-performances p{
        font-size: clamp(18px,3.05vw,22px);
        padding: 3px 0 3px 0;
    }
    .link-performances {
        width: clamp(190px,30.55vw,220px);
    }
    .link-performances a {
        font-size: clamp(18px,3.05vw,22px);
    }

    /* COOPERATION */
    .heading-cooperation h3{
        font-size: clamp(34px, 6.1vw, 44px);
    }
    .never h4, .consultation h4, .org h4{
        font-size: clamp(24px, 3.88vw ,28px);
    }
    
    .heading-socials h4{
        font-size: clamp(52px,5.33vw,64px);
    }
    .socials ul li a{
        font-size: clamp(30px, 3vw, 36px);
    }

    .socialspinst p {
        font-size: 8px;
    }

    .desigby p {
        font-size: clamp(14px,1.33vw,16px);
    }

    .desigby {
        max-width: 500px;
        margin: 20px auto 30px auto;
    }

}

@media screen and (max-width:540px) {
    ::-webkit-scrollbar {
        width: 14px;
    }
    .body-hidden {
        padding: 0;
        background-position-x: 0px;
    }
    .heading-name h1 {
        font-size: clamp(52px,11.11vw,60px);
        line-height: clamp(60px,12.96vw,70px);
    }
    .image img {
        width: clamp(350px, 83.33vw ,450px);
    }
    .heading-about h2 {
        font-size: clamp(52px ,10.74vw, 58px);
    }

    /* MODAL PHOTO */

    .image-card img {
        width: clamp(300px,64.81vw,350px);
        border-radius: 10px;
    }

    .photo-modal-1 h3 {
        font-size: clamp(14px, 3.33vw,18px);
    }
    #open-modal-btn-1 h4{
        font-size: clamp(10px,2.22vw,12px);
    }
    .photo-modal-2{
        width: clamp(150px,37.03vw, 200px);
    }

    .photo-modal-2 h3 {
        font-size: clamp(14px, 3.33vw,18px);
        padding: 8px 0;
    }
    #open-modal-btn-2-2 h4{
        font-size: clamp(10px,2.22vw,12px);
    }

    .photo-modal-3{
        width: clamp(220px,53.7vw, 290px);
    }

    .photo-modal-3 h3 {
        font-size: clamp(14px, 3.33vw,18px);
    }
    #open-modal-btn-3-3 h4{
        font-size: clamp(10px,2.22vw,12px);
    }
    .photo-modal-4{
        width: clamp(260px,59.25vw, 320px);
    }
    .photo-modal-4 h3 {
        font-size: clamp(14px, 3.33vw,18px);
    }
    #open-modal-btn-4-4 h4{
        font-size: clamp(10px,2.22vw,12px);
    }
    .photo-modal-5{
        width: clamp(160px,38.88vw, 210px);
    }
    .photo-modal-5 h3 {
        font-size: clamp(14px, 3.33vw,18px);
    }
    #open-modal-btn-5-5 h4{
        font-size: clamp(10px,2.22vw,12px);
    }
    .photo-modal-7{
        width: clamp(250px,59.25vw, 320px);
    }
    .photo-modal-7 h3 {
        font-size: clamp(14px, 3.33vw,18px);
    }
    #open-modal-btn-7-7 h4{
        font-size: clamp(10px,2.22vw,12px);
    }
    .block-photos {
        margin-bottom: 50px;
    } 

    .heading-product h2 {
        font-size: clamp(46px ,9.62vw, 52px);
    }
    .glass {
        width: clamp(350px, 83.33vw ,450px)
    }
    .heading-mainstage {
        margin: 30px auto 20px auto;
        width: 300px;
    }
    .heading-mainstage h3 {
        font-size: clamp(34px,7.4vw,36px);
    }
    .image-mainstage img{
        margin: 0 auto 30px auto;   
        width: clamp(300px, 69.44vw ,375px);
    }
    .link-mainstage {
        margin: 0 auto 30px auto;
        width: clamp(275px,61.11vw,330px);
        
    }
    .link-mainstage a {
        font-size: clamp(18px,4.07vw,22px);
    }
    .glass-2 {
        width: clamp(350px, 83.33vw ,450px)
    }

    .heading-premier {
        margin: 30px auto 20px auto;
        width: 300px;
    }
    .heading-premier h3 {
        font-size: clamp(32px,6.66vw,36px);        
    }
    .image-premier img{
        width: clamp(300px, 69.44vw ,375px);
        margin: 0 auto 15px auto;

    }
    .paragraph-premier {
        margin: 0 auto 10px auto;
        width: 300px;
    }
    .paragraph-premier p{
        font-size: clamp(18px,3.05vw,22px);
        padding: 5px 0 5px 0;

    }
    .link-premier a {
        font-size: clamp(18px,3.05vw,22px);
    }
    .link-premier {
        width: clamp(250px,38.88vw,280px);
    }
    .paragraph-last-premier {
        margin: 0 auto 20px auto;
        width: clamp(175px,16.67vw,200px);
    }
    
    .paragraph-last-premier{
        font-size: clamp(10px, 1vw,12px);
    }

    .glass-3 {
        width: clamp(350px, 83.33vw ,450px)
    }
    
    .heading-performances {
        margin: 30px auto 20px auto;
    }
    .heading-performances h3 {
        font-size: clamp(34px,7.03vw,38px);
    }

    .image-performances img{
        width: clamp(300px, 69.44vw ,375px);
    }
    .paragraph-performances {
        margin: 0 auto 20px auto;
        width: clamp(250px, 74vw,400px);
    }
    .paragraph-performances p{
        font-size: clamp(18px,3.05vw,22px);
        padding: 3px 0 3px 0;
    }
    .link-performances {
        width: clamp(190px,30.55vw,220px);
    }
    .link-performances a {
        font-size: clamp(18px,3.05vw,22px);
    }

    /* COOP */
    .atom-3 {
        background-color: rgba(255, 255, 255, 0.2);
        width: 80vw;
        height: 1px;
        margin: 0 auto 30px auto;
    }
    .heading-cooperation {
        margin: 0 auto 25px auto;
    }
    .heading-cooperation h3{
        font-size: clamp(24px, 6.29vw, 34px);

    }
    .never{
        margin: 0 auto 25px auto;
        width: 300px;
    }
    
    .consultation {
        margin: 0 auto 25px auto;
        width: 300px;
    }
    .org {
        line-height: 30px;
        margin: 0 auto 20px auto;
        width: 300px;
    }

    .never h4, .consultation h4, .org h4{
        font-size: clamp(24px, 3.88vw ,28px);
    }
    .tn-atom-coop {
        background-color: rgba(255, 255, 255, 0.2);
        width: 70vw;
        height: 1px;
        margin: 0 auto 0 auto;
    } 

    .heading-socials h4{
        font-size: clamp(46px,9.62vw,52px);
    }
    .socials ul li a{
        font-size: clamp(28px, 5.55vw, 30px);
    }

    .socialspinst {
        width: 250px;

    }
    .socialspinst p {
        font-size: clamp(6px,1.48vw,8px);
    }

    .desigby p {
        font-size: clamp(10px,2.59vw,14px);
    }

    .desigby {
        margin: 0 auto 30px auto;
    }

}


@media screen and (max-width:430px) {
    ::-webkit-scrollbar {
        width: 13px;
    }

    .heading-name h1 {
        font-size: clamp(44px,12.09vw,52px);
        line-height: clamp(50px,13.95vw,60px);
    }
    .image img {
        width: clamp(250px, 83.33vw ,350px);
    }
    .navigation ul {  
        gap: 15px 30px;
    }
    .navigation ul li {
        width: clamp(160px,46.51vw,200px);
        padding: 12px 16px;
    }
    
    .navigation ul li a{
        font-size: clamp(12px,3.72vw,16px);
    }
    .heading-about {
        width: 300px;
    }
    .heading-about h2 {
        font-size: clamp(48px ,12.09vw, 52px);
        line-height: 50px;
    }


    /* MODAL PHOTO */

    .image-card img {
        width: clamp(250px,69.76vw,300px);
    }

    .photo-modal-1 h3 {
        font-size: clamp(12px, 3.25vw,14px);
    }
    #open-modal-btn-1 h4{
        font-size: clamp(8px,2.32vw,10px);
    }
    .photo-modal-2{
        width: clamp(130px,34.88vw, 150px);
    }

    .photo-modal-2 h3 {
        font-size: clamp(12px, 3.25vw,14px);
        padding: 8px 0;
    }
    #open-modal-btn-2-2 h4{
        font-size: clamp(8px,2.32vw,10px);
    }

    .photo-modal-3{
        width: clamp(200px,51.16vw, 220px);
    }

    .photo-modal-3 h3 {
        font-size: clamp(12px, 3.25vw,14px);
    }
    #open-modal-btn-3-3 h4{
        font-size: clamp(8px,2.32vw,10px);
    }
    .photo-modal-4{
        width: clamp(230px,60.46vw, 260px);
    }
    .photo-modal-4 h3 {
        font-size: clamp(12px, 3.25vw,14px);
    }
    #open-modal-btn-4-4 h4{
        font-size: clamp(8px,2.32vw,10px);
    }
    .photo-modal-5{
        width: clamp(130px,37.20vw, 160px);
    }
    .photo-modal-5 h3 {
        font-size: clamp(12px, 3.25vw,14px);

    }
    #open-modal-btn-5-5 h4{
        font-size: clamp(8px,2.32vw,10px);
    }
    .photo-modal-7{
        width: clamp(220px,58.13vw, 250px);
    }
    .photo-modal-7 h3 {
        font-size: clamp(12px, 3.25vw,14px);
    }
    #open-modal-btn-7-7 h4{
        font-size: clamp(8px,2.32vw,10px);
    }

    /* MODALS */

    /* 1 */
    .modal-window {
        width: clamp(250px,93.02vw,400px);
    }
    .heading-modal {
        margin: 30px auto 15px auto;
        width: 250px;
    }
    .heading-modal h3{
        font-size: 36px;
    }
    .paragraph-modal {
        margin: 15px auto 30px auto;
        width: clamp(250px,69.76vw,300px);

    }
    .paragraph-modal p{
        font-size: clamp(12px,3.25vw,14px);
        line-height: clamp(20px,5.81vw,25px);
    }
    .scroller__inner img{
        width: 200px;
    }
    #scndscroll {
        width: 532px;
    }
    #sixscroll {
        width: 398px;
    }
    #eightscroll {
        width: 448px;
    }

    /* 2 */
    .modal-window-2 {
        width: clamp(250px,93.02vw,400px);
    }

    .heading-modal-2 {
        margin: 30px auto 20px auto;
        width: 275px;
    }
    .scroller2 {
        overflow: hidden;
        margin: 0 auto 50px auto;
    }
    .heading-modal-2 h3{
        font-size: 36px;
    }
    .scroller__inner2 img{
        width: 250px;
    }
    #thirdscroll2 {
        width: clamp(251px,25.08vw, 301px);
    }

    /* 3 */
    .modal-window-3 {
        width: clamp(250px,93.02vw,400px);
    }

    .heading-modal-3 {
        margin: 30px auto 30px auto;
        width: clamp(250px,93.02vw,400px);
    }
    .heading-modal-3 h3{
        font-size: clamp(26px,7.44vw,32px);
    }
    .scroller3 {
        overflow: hidden;
        margin: 0 auto 40px auto;
    }
    .scroller__inner3 img{
        width: clamp(225px,58.13vw,250px);;
    }
    #firstscroll3 {
        width: clamp(245px,64.48vw,273px);
    }
  
    #secondscroll3 {
        width: clamp(245px,63.48vw,273px);
    }

    /* 4 */
    .modal-window-4 {
        width: clamp(250px,93.02vw,400px);
    }
    .heading-modal-4 {
        margin: 30px auto 30px auto;
    }
    .heading-modal-4 h3{
        font-size: clamp(36px,10vw,42px);
    }
    .scroller4 {
        overflow: hidden;
        margin: 0px auto 50px auto;
    }
    .scroller__inner4 img{
        width: clamp(225px,58.13vw,250px);;
    }

    /* 5 */
    .modal-window-5 {
        width: clamp(250px,93.02vw,400px);
    }
    .heading-modal-5 {
        margin: 30px auto 15px auto;
    }
    .heading-modal-5 h3{
        font-size: clamp(26px,7.44vw,32px);
        line-height: clamp(35px,9.3vw,40px);
    }

    .paragraph-modal-5 {
        margin: 15px auto 30px auto;
        width: clamp(25px,69.76vw,300px);
        line-height: 20px;
    }
    
    .paragraph-modal-5 p{
        font-size: 14px;
    }


    /* 7 */
    .modal-window-7 {
        width: clamp(250px,93.02vw,400px);
    }
    .heading-modal-7{
        margin: 25px auto 15px auto;
    }
    .heading-modal-7 h3{
        font-size: clamp(36px,9.3vw,40px);
    }
    .paragraph-modal-7 {
        margin: 15px auto 30px auto;
        width: clamp(275px,83.72vw,360px);
    }
    .paragraph-modal-7 p{
        font-size: 13px;
    }
    .scroller7 {
        overflow: hidden;
        margin: 0px auto 50px auto;
    }
    .scroller__inner7 img{
        width: clamp(225px,58.13vw,250px);;
    }


    .block-photos {
        margin-bottom: 50px;
    } 

    .heading-product h2 {
        font-size: clamp(30px ,10.69vw, 46px);
    }
    .glass {
        width: clamp(275px, 81.39vw ,350px);
    }
    .heading-mainstage {
        margin: 30px auto 20px auto;
        width: auto;
    }
    .heading-mainstage h3 {
        font-size: clamp(28px,7.9vw,34px);
    }
    .image-mainstage img{
        margin: 0 auto 30px auto;   
        width: clamp(225px, 69.76vw ,300px);
    }
    .link-mainstage {
        margin: 0 auto 30px auto;
        width: clamp(220px,63.95vw,275px);
        
    }
    .link-mainstage a {
        font-size: clamp(14px,4.18vw,18px);
    }
    .glass-2 {
        width: clamp(275px, 81.39vw ,350px);
    }

    .heading-premier {
        margin: 30px auto 20px auto;
        width: clamp(250px,69.76vw,300px);
    }
    .heading-premier h3 {
        font-size: clamp(28px,7.44vw,32px);        
    }
    .image-premier img{
        width: clamp(225px, 69.76vw ,300px);
    }
    .paragraph-premier {
        margin: 0 auto 10px auto;
        width: 250px;
    }
    .paragraph-premier p{
        font-size: clamp(16px,4.18vw,18px);
        padding: 5px 0 5px 0;

    }
    .link-premier a {
        font-size: clamp(14px,4.18vw,18px);
    }
    .link-premier {
        width: clamp(200px,58.13vw,250px);
    }
    .paragraph-last-premier {
        margin: 0 auto 20px auto;
        width: clamp(150px,40.69vw,175px);
        
    }
    
    .paragraph-last-premier{
        font-size: clamp(8px, 2.32vw,10px);
    }

    .glass-3 {
        width: clamp(275px, 81.39vw ,350px);
    }
    
    .heading-performances {
        margin: 30px auto 20px auto;
    }
    .heading-performances h3 {
        font-size: clamp(28px,7.9vw,34px);
    }

    .image-performances img{
        width: clamp(225px, 69.76vw ,300px);
    }
    .paragraph-performances {
        margin: 0 auto 20px auto;
    }
    .paragraph-performances p{
        font-size: clamp(12px,4.18vw,18px);
        padding: 0;
    }
    .link-performances {
        width: clamp(150px,44.18vw,190px);
    }
    .link-performances a {
        font-size: clamp(14px,4.18vw,18px);
    }

    /* COOP */
    .atom-3 {
        background-color: rgba(255, 255, 255, 0.2);
        width: 80vw;
        height: 1px;
        margin: 0 auto 20px auto;
    }
    .heading-cooperation {
        margin: 0 auto 20px auto;
    }
    .heading-cooperation h3{
        font-size: clamp(18px, 5.58vw, 24px);
    }
    .never{
        margin: 0 auto 15px auto;
        width: clamp(200px,69.76vw,300px);
    }
    
    .consultation {
        margin: 0 auto 15px auto;
        width: clamp(200px,69.76vw,300px);
    }
    .org {
        line-height: 25px;
        margin: 0 auto 20px auto;
        width: clamp(200px,69.76vw,300px);
    }

    .never h4, .consultation h4, .org h4{
        font-size: clamp(18px, 5.58vw ,24px);
    }
    .tn-atom-coop {
        background-color: rgba(255, 255, 255, 0.2);
        width: 70vw;
        height: 1px;
        margin: 0 auto 0 auto;
    } 
    .heading-socials {
        margin: 20px auto 25px auto;
    }
    .heading-socials h4{
        font-size: clamp(36px,10.69vw,46px);
    }
    
    .socials ul li a{
        font-size: 28px;
    }

    .socialspinst {
        width: clamp(220px,58.13vw,250px);

    }
    .socialspinst p {
        font-size: clamp(5px,1.39vw,6px);
    }
    .desigby {
        margin: 0 auto 30px auto;
        width: 200px;
    }
    .desigby p {
        font-size: 10px;
    }
    .beforeinst {
        font-size: clamp(16px,4.65vw,20px);
    }

}

