* {
    box-sizing: border-box;
}

/* 1 window  */
.heading-modal {
    margin: 40px auto 15px auto;
}
.heading-modal h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 44px;
    align-items: center;
    text-align: center;
    color: white;
}


.paragraph-modal {
    width: 500px;
    margin: 15px auto 30px auto;
}
.paragraph-modal p{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
}



/* 2 window  */

.heading-modal-2 {
    margin: 40px auto 15px auto;
}
.heading-modal-2 h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 44px;
    align-items: center;
    text-align: center;
    color: white;
}

/* 3 window */

.heading-modal-3 {
    margin: 40px auto 15px auto;
}
.heading-modal-3 h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 38px;
    align-items: center;
    text-align: center;
    color: white;
}


/* 4 window */
.heading-modal-4 {
    margin: 40px auto 15px auto;
}
.heading-modal-4 h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 48px;
    align-items: center;
    text-align: center;
    color: white;

}




/* 5 window */
.heading-modal-5 {
    margin: 40px auto 15px auto;
}
.heading-modal-5 h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 44px;
    align-items: center;
    text-align: center;
    color: white;
    line-height: 50px;
}
.paragraph-modal-5 {
    margin: 15px auto 40px auto;
    width: 400px;
}

.paragraph-modal-5 p{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
}


/* 7 window */
.heading-modal-7{
    margin: 35px auto 15px auto;
}
.heading-modal-7 h3{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 44px;
    align-items: center;
    text-align: center;
    color: white;
}
.paragraph-modal-7 {
    margin: 15px auto 40px auto;
    width: 500px;
}
.paragraph-modal-7 p{
    align-items: center;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    font-family: Montserrat, sans-serif;
}

